* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section ul {
  list-style: none;
  margin-top: 24px;
}

body {
  background-image: url("./assets/bg.jpeg");
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}
body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

header {
  padding-top: 32px;
  
}

header div {
  width: 120px;
  padding: 4px;
  background-image: linear-gradient(90deg, #9672fc 0%, #43e7ad 50.52%, #e2d45c 100%);
  display: flex;
  margin: auto;
  border-radius: 50%;
  transition: transform .5s;
}

header div:hover {
  transform: scale(1.1);
}

header img {
  border-radius: 50%;
  width: 100%;
  
}
header div {
  animation: fromTop .7s .2s backwards;
  
}


@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toTop {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-25px);
  }
}


@keyframes rotate {
  from {rotate: 360deg;
  }
}

@keyframes fromRight {
  from {
    transform: translateX(300px);
  }
  to {
    
    transform: translateX(0);
  }
}


main section {
  animation: toTop .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
  
}
main section:nth-child(2) {
  animation-delay: .4s;
  
}
main section:nth-child(3) {
  animation-delay: .8s;
  
}
main section .channel-list img {
  animation: rotate 8s backwards;
}
main section .channel-list {
  animation: fromRight 1s backwards;
}

main section .channel-list li:nth-child(1) {
  animation: fromRight 1s backwards;
}
main section .channel-list li:nth-child(2) {
  animation: fromRight 3s backwards;
}
main section .channel-list li:nth-child(3) {
  animation: fromRight 6s backwards;
}
main section .channel-list li:nth-child(4) {
  animation: fromRight 8s backwards;
}



main {
  display: grid;
  gap: 25px;
  max-width: 580px;
  width: 90%;
  margin: 32px auto;
  
}

section {
  color: white;
  background-image: linear-gradient(90deg, #9672fc 0%, #43e7ad 50.52%, #e2d45c 100%);
  padding-top: 4px;
  border-radius: 10px;
 
}
section h2 {
  letter-spacing: -0.47px;
}
section p {
  color: #a1a1aa;
}

section div {
  background-color: #2a2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section ul li {
  transition: transform .5s;
}

section ul li:hover {
  transform: scale(1.1);
}


ul {
  display: flex;
  flex-wrap: wrap;
   gap: 16px;
}
 .game-list img {
  width: 90px;
  border-radius: 8px;
 }

 .channel-list img {
  width: 70px;
  border-radius: 50px;
  border: 2px solid purple;
 }
